@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 1s ease-in-out;
    background-color: #232136;
    color: #ffffff;
    padding: 10em;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

#content {
    background-color: #2a273f;
    padding: 3%;
    margin: auto;
    max-width: 35%;
    border-radius: 3%;
}

#profilePic {
    width: 105px;
    height: 105px;
}

#content a {
    color: #907aa9;
    text-decoration: dotted;
}

#links img {
    float: right;
    margin-left: 4px;
}

#blogToggle {
    cursor: pointer;
}

#blog {
    display: none;
}

.link {
    width: 25px;
}

@media only screen and (max-width: 1000px) {
    body {
        margin-top: 5em;
        padding: 0;
    }
    #content {
        margin-top: 5em;
        max-width: 80%;
    }
    #profilePic {
        width: 80px;
        height: 80px;
    }
    .link {
        width: 25px;
    }
}


/* Typewriter Effect */

/* #greet {
    margin: 0;
    width: 34%;
    display: inline-block;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(29),
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent}
}

@keyframes typing {
    from { width: 0;}
} */