@font-face {
    font-family: monro;
    src: url(../font/munro.ttf);
}

@keyframes fadeIn {
    0% {opacity: 0%}
    100% {opacity: 100%}
}

.content {
    animation: fadeIn 3s;
}

body {
    font-family: monro;
    background-image: url(../img/background.gif);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    align-content: center;
}

img {
    width: 42;
    height: 42;
    vertical-align: middle;
    image-rendering: pixelated;
}

a {
    font-size: 30;
    padding: 10;
    color: lightskyblue;
    text-decoration-line: none;
}

p {
    font-size: 20;
}

img:hover, a:hover {
    opacity: 70%
}

#quote {
    font-style: italic;
}